$money-color: #0fb70f;

$button-card-font: #609c85;
$button-card: rgb(235, 233, 233);

$button-card-font-hover: #333333;
$button-card-hover: rgba(171, 222, 16, 0.43);

$card-background: rgba(255, 255, 255, 0.7);
$card-border: rgba(176, 178, 172, 0.282);
$card-border-hover: rgb(255, 255, 255);

$products-section-background: #ffffff;
// $products-section-gradient: radial-gradient(circle, #6bce8c9e, #4aae6d9a);

$navigation-background: #00693e;
$navigation-background-main: rgb(66, 135, 106);
$navigation-gradient: radial-gradient(
  circle,
  rgba(66, 135, 106, 1) 4%,
  rgba(63, 143, 110, 1) 18%,
  rgba(1, 140, 83, 1) 93%
);

$button-font-color: #609c85;
$button-font-color: #609c85;
$button-font-color: #609c85;
