@keyframes show-categories {
  from {
    position: absolute;
    height: 0;
    overflow: hidden;
    opacity: 0;
  }
  to {
    height: 250px;
    overflow: visible;
    opacity: 1;
  }
}
@keyframes hide-categories {
  from {
    height: 250px;
    overflow: visible;
    // opacity: 1;
  }
  to {
    height: 0;
    overflow: hidden;
    // opacity: 0;
  }
}
@keyframes underline-categories {
  from {
    width: 0;
  }
  to {
    width: 120%;
  }
}

// .main-page {
//   // background-color: gray;
// }
.categories {
  border-top: 1px solid silver;
  border-bottom: 1px solid silver;
  color: rgb(255, 255, 255);
  &-list {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 0.5em;
    list-style: none;
    &__category {
      padding: 1em;
      text-align: center;
      &-link {
        display: block;
        width: 100%;
        font-size: 1.5rem;
        text-decoration: none;
        color: #ffffff;
        &--active {
          position: relative;
          &::after {
            content: "";
            position: absolute;
            bottom: -30%;
            left: 50%;
            height: 3px;
            transform: translate(-50%, -50%);
            background-color: #0fb70f;
            animation: underline-categories 0.2s forwards;
          }
        }
      }
    }
  }
  &-text {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    font-weight: 500;
    text-align: center;
    padding: 0.5em;
    &__arrow-icon {
      display: none;
    }
  }
}

@media (min-width: 375px) {
  .main-page {
    .categories {
      &-text {
        font-size: 1.7rem;
      }
      &-list {
        &__category {
          &-link {
            font-size: 1.6rem;
          }
        }
      }
    }
  }
}
@media (min-width: 576px) {
  .main-page {
    .categories {
      &-text {
        font-size: 2rem;
      }
      &-list {
        li {
          a {
            font-size: 2rem;
          }
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .main-page {
    display: flex;
    background-color: none;
    .categories {
      border: none;
      &-list {
        flex-direction: column;
        align-items: start;
        height: 250px;
        animation: none;
        background-color: transparent;
        &__category {
          border: none;
          text-align: left;
          &-link {
            color: white;
            margin-left: 1em;
            &--active {
              color: #0fb70f;
            }
          }
        }
      }
      &-text {
        display: block;
        text-align: left;
        margin-left: 0.25em;
        cursor: unset;
        svg {
          display: none;
        }
      }
    }
  }
}
@media (min-width: 992px) {
  .main-page {
    .categories {
      width: 300px;
    }
  }
}
