@keyframes show-categories {
  from {
    position: absolute;
    height: 0;
    overflow: hidden;
    opacity: 0;
  }
  to {
    height: 250px;
    overflow: visible;
    opacity: 1;
  }
}
@keyframes hide-categories {
  from {
    height: 250px;
    overflow: visible;
    // opacity: 1;
  }
  to {
    height: 0;
    overflow: hidden;
    // opacity: 0;
  }
}

// .main-page {
//   // background-color: gray;
// }
.categories {
  border-top: 1px solid silver;
  border-bottom: 1px solid silver;
  &-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    &__category {
      padding: 1em;
      width: 25%;
      text-align: center;
      a {
        font-size: 1.5rem;
        color: black;
        text-decoration: none;
      }
    }
  }
  &-text {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    text-align: center;
    padding: 0.5em;
    cursor: pointer;
    &__arrow-icon {
      display: none;
    }
  }
}

@media (min-width: 576px) {
  .main-page {
    .categories {
      &-text {
        font-size: 3rem;
      }
      &-list {
        animation: show-categories 0.2s forwards;
        height: 250px;
        &--hide {
          animation: hide-categories 0.2s forwards;
        }
        li {
          a {
            font-size: 2.5rem;
          }
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .main-page {
    display: flex;
    background-color: none;
    .categories {
      border: none;
      &-list {
        flex-direction: column;
        align-items: start;
        height: 250px;
        animation: none;
        background-color: transparent;
        li {
          text-align: left;
          a {
            color: black;
            margin-left: 1em;
          }
        }
        &__category {
          border: none;
        }
      }
      &-text {
        display: block;
        text-align: left;
        margin-left: 0.25em;
        svg {
          display: none;
        }
      }
    }
  }
}
@media (min-width: 992px) {
  .main-page {
    .categories {
      width: 300px;
    }
  }
}
