.filter-window {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 20px;
  border-top: 1px solid rgba(128, 128, 128, 0.419);
  &__title {
    padding: 0.75em 0;
    text-align: center;
    font-size: 1.6rem;
    font-weight: bold;
    cursor: pointer;
  }
  &__filter-options {
    height: 0;
    transition: height 0.3s;
    &--active {
      height: 250px;
    }
  }
}

@media (min-width: 375px) {
  .filter-window {
    &__title {
      font-size: 1.8rem;
    }
    &__filter-options {
      &--active {
        height: 270px;
      }
    }
  }
}
@media (min-width: 576px) {
  .filter-window {
    &__title {
      font-size: 2rem;
    }
    &__filter-options {
      &--active {
        height: 290px;
      }
    }
  }
}
@media (min-width: 768px) {
  .filter-window {
    min-width: 180px;
    max-width: 250px;
    border: 3px solid rgba(3, 160, 97, 0.433);
    margin-left: 1em;
    &__title {
      cursor: unset;
    }
  }
}
