.sort-price {
  margin-top: 1em;
  p {
    text-align: center;
    font-size: 1.2rem;
  }
  form {
    width: 60%;
    margin: 0 auto;
    margin-top: 0.25em;
    input {
      width: 100%;
    }
  }
}
.range-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .info {
    font-size: 1.3rem;
  }
}
