@import "colors";
.sort-price {
  margin-top: 1em;
  &__title {
    margin: 1em 0;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;
  }
  &-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &__inputs {
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin: 0.5em;
      margin-bottom: 0;
      &-min,
      &-max {
        position: relative;
        width: 40%;
      }
      &-min-label,
      &-max-label {
        position: absolute;
        top: 0;
        left: 50%;
        padding: 0.3em;
        font-size: 1.2rem;
        transform: translate(-50%, -50%);
        background-color: #fff;
      }
      &-min-input,
      &-max-input {
        padding: 0.5em;
        width: 100%;
        border-radius: 5px;
        border: 1px solid black;
      }
    }
    &__error {
      padding: 0.5em;
      margin: 0.5em 0;
      font-size: 1.2rem;
      color: tomato;
    }
    &__button {
      padding: 0.5em 1em;
      border-radius: 10px;
      border: 1px solid silver;
      font-size: 1.4rem;
      font-weight: bold;
      background-color: $button-card;
      color: $button-card-font;
      transition: background-color 0.2s, color 0.2s, border 0.2s;
      cursor: pointer;
      &:hover {
        background: $button-card-hover;
        color: $button-card-font-hover;
        border: 1px solid rgb(88, 86, 86);
      }
    }
  }
}
@media (min-width: 375px) {
  .sort-price {
    &__title {
      font-size: 1.7rem;
    }
  }
}
@media (min-width: 414px) {
  .sort-price {
    &-form {
      &__inputs {
        &-min-input,
        &-max-input {
          padding: 0.5em;
          font-size: 1.6rem;
        }
      }
      &__button {
        font-size: 1.6rem;
      }
    }
  }
}
