@import "colors";
.sort-price {
  margin-top: 1em;
  &__title {
    text-align: center;
    margin-bottom: 0.5em;
  }
  &-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &__inputs {
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin: 0.5em;
      margin-bottom: 0;
      &-min {
        position: relative;
        width: 40%;
        &-label {
          position: absolute;
          top: 0;
          left: 50%;
          padding: 0.3em;
          font-size: 1.2rem;
          transform: translate(-50%, -50%);
          background-color: #fff;
        }
        &-input {
          padding: 0.5em;
          width: 100%;
          border-radius: 5px;
          border: 1px solid black;
        }
      }
      &-max {
        position: relative;
        width: 40%;
        &-label {
          position: absolute;
          top: 0;
          left: 50%;
          padding: 0.3em;
          font-size: 1.2rem;
          transform: translate(-50%, -50%);
          background-color: #fff;
        }
        &-input {
          padding: 0.25em;
          width: 100%;
          border-radius: 5px;
          border: 1px solid black;
        }
      }
    }
    &__error {
      color: tomato;
      padding: 0.25em;
    }
    &__button {
      padding: 0.75em 1.5em;
      border: transparent;
      border-radius: 10px;
      font-size: 1.4rem;
      font-weight: bold;
      background-color: $button-card;
      color: $button-card-font;
      border: 1px solid silver;
      cursor: pointer;
      transition: background-color 0.2s, color 0.2s, border 0.2s;
      &:hover {
        background: $button-card-hover;
        color: $button-card-font-hover;
        border: 1px solid rgb(88, 86, 86);
      }
    }
  }
}
