@keyframes circle-arrow-animation {
  from {
    transform: scale(1);
  }
  25% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(1.4);
  }
  75% {
    transform: scale(1.2);
  }
  to {
    transform: scale(1);
  }
}
.fa-circle-down {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 3rem;
  color: green;
  animation: circle-arrow-animation 2s linear infinite;
}
.header-image {
  margin-top: 70px;
  img {
    width: 100%;
    height: calc(100vh - 70px);
  }
}
