.home-page-section {
  background-color: #02ab65;
}
.home-page {
  position: relative;
  background-color: #02ab65;
  background-image: url("../images/cropped-1920-1080-1172541.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 2em;
  h2 {
    text-align: center;
    color: white;
    font-size: 2.4rem;
    margin-top: 1.5em;
  }
}
.categories-description {
  position: relative;
  margin: 2em 0;
  width: 250px;
  border-radius: 20px;
  background-color: #fff;
  text-align: center;
  overflow: hidden;
  &__image {
    margin-top: 3em;
    img {
      height: 250px;
      width: 250px;
    }
  }
  &__info {
    font-size: 2rem;
    &-name {
      position: absolute;
      top: 0;
      left: 50%;
      margin: 0.5em 0;
      transform: translateX(-50%);
    }
  }
  &__link {
    margin: 0.5em 0;
    a {
      text-decoration: none;
      color: black;
    }
  }
}
.categories-descriptions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 375px) {
  .categories-description {
    width: 300px;
    &__image {
      img {
        height: 300px;
        width: 300px;
      }
    }
    &__info {
      &-name {
        font-size: 2.5rem;
      }
    }
    &__link {
      a {
        font-size: 3rem;
        font-weight: bold;
      }
    }
  }
}
@media (min-width: 414px) {
}
@media (min-width: 768px) {
  .home-page {
    h2 {
      margin: 1.5em 0;
    }
    .categories-description {
      position: relative;
      margin: 2em;
    }
    .categories-descriptions {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }
  }
}
