
.home-page {
  position: relative;
  h2 {
    text-align: center;
    color: white;
    font-size: 2.4rem;
    margin-top: 1.5em;
  }
  &__categories {
    &-background {
      padding: 2em;
      padding-bottom: 6em;
      background-image: url("../images/cropped-1920-1080-1172541.png");
      background-size: cover;
      background-position: center;
      background-attachment: fixed;
    }
  }
}
.categories-description {
  position: relative;
  margin: 2em 0;
  width: 250px;
  border-radius: 20px;
  background-color: #fff;
  text-align: center;
  overflow: hidden;
  cursor: pointer;
  &__image {
    margin-top: 5em;
    img {
      height: 250px;
      width: 250px;
    }
  }
  &__info {
    font-size: 2rem;
    &-name {
      position: absolute;
      top: 0;
      left: 50%;
      margin: 0.5em 0;
      transform: translateX(-50%);
    }
  }
  &__link {
    position: relative;
    margin: 0.5em 0;
    z-index: 5;
    a {
      text-decoration: none;
      color: black;
    }
  }
  &__description {
    display: flex;
    align-items: center;
    position: absolute;
    opacity: 0;
    top: 50%;
    left: 50%;
    height: 40%;
    width: 40%;
    border-radius: 50%;
    color: white;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    transform: translate(-50%, -50%);
    transition: 0.2s;
    overflow: hidden;
    &-text {
      font-size: 1.4rem;
      font-weight: bold;
      padding: 0.5em;
    }
  }
  &:hover &__description {
    opacity: 1;
    height: 100%;
    width: 100%;
    border-radius: 0;
  }
  &:hover &__link a {
    color: white;
  }
  &:hover &__info-name {
    color: white;
    z-index: 1;
  }
}
.categories-descriptions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 375px) {
  .categories-description {
    width: 300px;
    &__image {
      img {
        height: 300px;
        width: 300px;
      }
    }
    &__info {
      &-name {
        font-size: 2.5rem;
      }
    }
    &__link {
      a {
        font-size: 3rem;
        font-weight: bold;
      }
    }
  }
}
@media (min-width: 414px) {
}
@media (min-width: 768px) {
  .home-page {
    h2 {
      margin: 1.5em 0;
    }
  }
  .categories-description {
    position: relative;
    margin: 2em;
    &__link {
      a {
        color: white;
      }
    }
    &__description {
      &-text {
        font-size: 1.8rem;
      }
    }
  }
  .categories-descriptions {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}
