.home-page-section {
  background-color: greenyellow;
}
.home-page {
  position: relative;
  height: 1500px;
  background-color: #02ab65;
  padding: 2em;
  h2 {
    text-align: center;
    color: white;
    font-size: 2.4rem;
    margin-top: 1.5em;
  }
}
.categories-description {
  // display: flex;
  margin: 4em 0;
  padding: 0.5em;
  border: 1px solid rgb(22, 195, 45);
  border-radius: 35px;
  transition: transform 0.2s;
  cursor: pointer;

  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0 8px 16px 0 rgba(31, 38, 135, 0.37);
  border-radius: 35px;
  border: 1px solid rgba(255, 255, 255, 0.18);

  a {
    font-size: 2rem;
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-align: center;
  }
}
.categories-descriptions {
  &__Special {
    .categories-descriptions__image {
      float: right;
      margin: 5px 5px 10px 10px;
    }
  }
  &__info {
    padding: 0.5em;
    &-name {
      margin: 0.5em 0;
      font-size: 1.8rem;
      font-weight: bold;
    }
    &-description {
      font-size: 1.1rem;
    }
  }
  &__image {
    float: left;
    margin: 5px 10px 10px 5px;
    border-radius: 35px;
    overflow: hidden;
    img {
      width: 150px;
      height: 150px;
    }
  }
  &__link {
    margin-top: 0.8em;
    text-align: center;
  }
}
