.menu-list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  list-style: none;
  height: 100%;
  .categories {
    position: relative;
    color: white;
    border: none;
    cursor: pointer;
    &-text {
      font-size: 3rem;
      padding: 0;
    }
    &-list {
      flex-direction: column;
      background-color: black;
      // animation: show-categories 0.3s forwards;
      &__category {
        width: 70%;
        border-bottom: 2px solid rgba(192, 192, 192, 0.2);
        &-link {
          &--active {
            &::after {
              display: none;
            }
          }
        }
      }
      &--hide {
        margin-top: 3em;
        // animation: hide-categories 0.3s forwards;
      }
    }
  }
  li {
    a {
      color: whitesmoke;
      text-decoration: none;
      font-size: 3rem;
    }
    svg {
      font-size: 3rem;
      margin: 0 0.5em;
    }
  }
}
@media (min-width: 375px) {
  .menu-list {
    .categories {
      &-text {
        font-size: 4rem;
      }
      &-list {
        margin-bottom: 6em;
      }
    }

    li {
      a {
        font-size: 4rem;
      }
    }
  }
}

@media (min-width: 768px) {
  .menu-list {
    position: relative;
    flex-direction: row;
    align-items: center;
    height: 70px;
    background-color: transparent;
    .categories {
      color: white;
      &-text {
        font-size: 1.8rem;
      }
      &-list {
        position: absolute;
        justify-content: space-between;
        margin-bottom: 0;
        top: 50px;
        left: 0;
        width: 100%;
        border: 1px solid #00693d85;
        border-top: none;
        background-color: #ffff;
        &__category {
          width: 100%;
          border-bottom: none;
          margin: 0;
          padding: 1em 0;
          transition: background-color 0.3s;
          &:hover {
            background-color: #73a85b2e;
          }
          a {
            font-size: 2rem;
          }
        }
        &--hide {
          display: none;
        }
      }
    }
    li {
      margin: 0 1em;
      a,
      svg {
        font-size: 3rem;
      }
      span {
        display: none;
      }
      a {
        position: relative;
        z-index: 1;
        .cart-count {
          position: absolute;
          display: inline-block;
          padding: 0.1em;
          transform: translate(-50%, -50%);
          left: 90%;
          top: 5%;
          font-size: 2.2rem;
          font-weight: bold;
          text-align: center;
          color: rgb(255, 0, 0);
          // background-color: #098954;
          z-index: 10;
        }
      }
    }
  }
}
@media (max-width: 767px) {
  .menu-list {
    .categories {
      &-text {
        &__arrow-icon {
          display: none;
        }
      }
      &-list {
        height: 200px;
        animation: none;
        &--hide {
          animation: none;
        }
        &__category {
          text-align: left;
          border-bottom: 1px solid rgba(192, 192, 192, 0.2);
        }
      }
    }
  }
}
