.menu-list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  list-style: none;
  height: 100%;
  .categories {
    position: relative;
    color: white;
    &-text {
      font-size: 3rem;
      padding: 0;
    }
    &-list {
      flex-direction: column;
      background-color: black;
      animation: show-categories 0.3s forwards;
      &__category {
        width: 70%;
        border-bottom: 2px solid rgba(192, 192, 192, 0.2);
      }
      &--hide {
        animation: hide-categories 0.3s forwards;
      }
    }
  }
  li {
    a {
      color: whitesmoke;
      text-decoration: none;
      font-size: 3rem;
    }
    svg {
      font-size: 3rem;
      margin: 0 0.5em;
    }
  }
}
@media (min-width: 375px) {
  .menu-list {
    .categories {
      &-text {
        font-size: 4rem;
      }
      &-list {
        margin-bottom: 6em;
      }
    }

    li {
      a {
        font-size: 4rem;
      }
    }
  }
}

@media (min-width: 620px) {
  .menu-list {
    position: relative;
    flex-direction: row;
    align-items: center;
    height: 70px;
    background-color: transparent;
    margin-right: 20px;
    .categories {
      color: white;
      &-text {
        font-size: 1.8rem;
      }
      &-list {
        position: absolute;
        top: 45px;
        left: 0;
        width: 100%;
        background-color: rgb(66, 135, 106);
        &__category {
          width: 70%;
          border-bottom: 2px solid rgba(192, 192, 192, 0.2);
        }
      }
    }
    li {
      margin: 0 1em;
      a,
      svg {
        font-size: 1.8rem;
      }
    }
  }
}
@media (max-width: 620px) {
  .menu-list {
    .categories {
      &-text {
        &__arrow-icon {
          display: none;
        }
      }
      &-list {
        height: 200px;
        animation: none;
        &--hide {
          animation: none;
        }
        &__category {
          text-align: left;
          border-bottom: 1px solid rgba(192, 192, 192, 0.2);
        }
      }
    }
  }
}
