@keyframes showMenu {
	from {
		left: 110%;
	}
	to {
		left: 0%;
	}
}
@keyframes hideMenu {
	from {
		left: 0%;
	}
	to {
		left: 100%;
	}
}
.menu {
	position: absolute;
	top: 0;
	left: 110%;
	min-height: 100vh;
	width: 100%;
	background-color: red;
	z-index: 10000;
	transition: transform 0.4s;
	&--hide {
		animation: hideMenu 0.4s forwards;
	}
	&--active {
		animation: showMenu 0.4s forwards;
	}
}
