@import "colors";

.most-popular-products {
  padding: 4em 0;
  padding-bottom: 6em;
  &__background {
    background-color: #ffffff;
  }
  h2 {
    position: relative;
    font-size: 2rem;
    margin: 0;
    margin-bottom: 2em;
    color: black;
  }
  .product {
    margin: 0 1em;
    padding: 1em 0;
    border: 1px solid rgba(168, 168, 168, 0.368);
    border-radius: 10px;
    background-color: #fff;
    &-image {
      img {
        height: 100%;
        width: 100%;
      }
    }
    &__name {
      font-size: 1.6rem;
    }
    &__price {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0.5em 0;
      border-top: 1px solid #3c79505f;
      border-bottom: 1px solid #3c79505f;
      font-size: 2rem;
      font-weight: bold;
      svg {
        font-size: 2rem;
        color: $money-color;
      }
    }
    &__action-buttons {
      &-add {
        padding: 0.5em 1em;
        border-radius: 10px;
        border: transparent;
        color: $button-card-font;
        font-size: 1.4rem;
        font-weight: bold;
        transition: background-color 0.2s, color 0.2s;
        cursor: pointer;
        &:hover {
          background: $button-card-hover;
          color: $button-card-font-hover;
        }
        svg {
          margin-left: 0.5em;
        }
      }
    }
  }
}
@media (min-width: 414px) {
  .most-popular-products {
    h2 {
      font-size: 2rem;
      margin: 0;
      margin-bottom: 2em;
    }
    .product {
      margin: 0 1em;
      padding: 1em 0;
      &-image {
        img {
          height: 100%;
          width: 100%;
        }
      }
      &__name {
        font-size: 1.8rem;
      }
      &__category {
        font-size: 1.2rem;
      }
      &__price {
        margin: 0.5em 0;
        font-size: 2.5rem;
        svg {
          font-size: 2.5rem;
        }
      }
      &__action-buttons {
        &-add {
          padding: 0.5em 1em;
          font-size: 1.6rem;
          svg {
            margin-left: 0.5em;
          }
        }
      }
    }
  }
}
