.most-popular-products {
  &__background {
    height: 400px;
    background-color: #ececec;
  }

  .product {
    width: 150px;
    border: 1px solid black;
    margin: 0 auto;
    &-image {
      img {
        height: 150px;
        width: 150px;
      }
    }
  }
}
