@import "colors";

.main-page {
  padding-top: 150px;
  min-height: 100vh;
  &-section {
    background-image: url("https://res.cloudinary.com/di3axjqgh/image/upload/v1691312697/InterStore/WEBP/shop-bg.webp");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
}

.products-main-page {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 auto;
  width: 100%;
  // background-color: $products-section-background;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(1.6px);
  -webkit-backdrop-filter: blur(1.6px);
  z-index: 1;
  &__list {
    list-style: none;
    &--list-display {
      max-width: 100%;
    }
  }
  &__counter {
    margin: 1em 0;
    font-size: 1.4rem;
    text-align: center;
    color: #fff;
    font-weight: bold;
    span {
      margin-left: 0.3em;
    }
  }
  &__container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    &--list-display {
      display: block;
      padding: 0.75em;
      width: 100%;
    }
  }
}

@media (min-width: 375px) {
  .products-main-page {
    &__container {
      &--list-display {
        padding: 1em;
      }
    }
  }
}
@media (min-width: 557px) {
  .products-main-page__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    &--list-display {
      display: block;
    }
  }
}
@media (min-width: 768px) {
  .products-main-page__list {
    grid-gap: 20px;
    &--list-display {
      display: block;
      width: 100%;
      .main-product {
        min-width: unset;
        width: 100%;
      }
    }
  }
  .products-main-page {
    padding: 2em;
    padding-top: 0;
    border: 3px solid rgba(3, 160, 97, 0.433);
    border-left: transparent;
    margin-bottom: 1em;
    border-radius: 0 20px 20px 0;
    &__counter {
      margin: auto 0;
    }
  }
}

@media (min-width: 980px) {
  .products-main-page__list {
    grid-template-columns: repeat(3, 1fr);
    &--list-display {
      display: block;
    }
  }
}
@media (min-width: 1200px) {
  .products-main-page__list {
    grid-template-columns: repeat(3, 1fr);
    &--list-display {
      display: block;
    }
  }
}
