@import "colors";

.products-actions {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: gray;
  width: 100%;
  &-buttons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 2em 0;
    &__sort,
    &__display {
      text-align: center;
      font-size: 2rem;
      cursor: pointer;
      right: 0;
    }
  }
}

