@import "colors";

.main-product {
  position: relative;
  margin-bottom: 3em;
  padding: 1em;
  border-radius: 10px;
  border: 2px solid $card-border;
  transition: box-shadow 0.2s, border 0.2s;
  overflow: hidden;
  cursor: pointer;
  z-index: 1;
  &:hover {
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.15);
    border: 2px solid $card-border-hover;
  }
  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: $card-background;
    backdrop-filter: blur(1.6px);
    -webkit-backdrop-filter: blur(1.6px);
    z-index: -1;
  }
  &__img {
    width: 250px;
    height: 250px;
    border-bottom: 1px solid #3c79505f;
  }
  &__name {
    text-align: center;
    font-size: 2.5rem;
  }
  &__category {
    text-align: center;
    font-size: 1.6rem;
    margin-bottom: 0.5em;
  }
  &__price {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.25em 0;
    font-size: 3rem;
    font-weight: bold;
    border-top: 1px solid #3c79505f;
    border-bottom: 1px solid #3c79505f;

    svg {
      color: $money-color;
      margin-left: 0.1em;
    }
  }
  &__action-buttons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1em;
    &-add {
      padding: 0.5em 1em;
      border: transparent;
      border-radius: 10px;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      background-color: $button-card;
      color: $button-card-font;
      font-size: 2rem;
      font-weight: bold;
      transition: background-color 0.2s, color 0.2s;
      cursor: pointer;
      &:hover {
        background: $button-card-hover;
        color: $button-card-font-hover;
      }
    }
    .cart-icon {
      margin-left: 0.5em;
    }
  }
  &--list-display {
    display: flex;
    max-width: 100%;
    .main-product__price {
      padding: 0.25em 0;
      margin: 0;
    }
    img {
      height: 150px;
      width: 150px;
      border: none;
    }
    h3 {
      font-size: 1.6rem;
    }
    button {
      font-size: 1.6rem;
    }
    p {
      font-size: 1.4rem;
    }

    .cart-icon {
      margin: 0;
      font-size: 2rem;
    }
    .product-info {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      margin: 0 auto;
      margin-right: 0;
    }
  }
}

@media (max-width: 320px) {
  .main-product {
    &__img {
      width: 250px;
      height: 250px;
    }
    &__name {
      font-size: 2rem;
    }
    &__price {
      font-size: 2rem;
    }
    &__action-buttons {
      &-add,
      &-buy {
        font-size: 1.8rem;
      }
    }
  }
}
@media (min-width: 375px) {
  .main-product {
    &__img {
      width: 300px;
      height: 300px;
    }
    &--list-display {
      .main-product__price {
        font-size: 2.5rem;
      }
      img {
        height: 180px;
        width: 180px;
        border: none;
      }
      h3 {
        font-size: 2rem;
      }
      button {
        font-size: 1.6rem;
      }
      p {
        font-size: 1.8rem;
      }

      .cart-icon {
        margin: 0;
        font-size: 2rem;
      }
      .product-info {
        display: flex;
        flex-direction: column;
      }
    }
  }
}
@media (min-width: 557px) {
  .main-product {
    &__img {
      width: 225px;
      height: 225px;
    }
    &__action-buttons {
      &-add,
      &-buy {
        font-size: 1.6rem;
      }
    }
  }
}
@media (min-width: 952px) {
  .main-product {
    &__img {
      width: 200px;
      height: 200px;
    }
  }
}
