@import "colors";

.products-actions {
  position: relative;
  display: flex;
  flex-direction: column;
  // background-color: gray;
  width: 100%;
  &-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__sort,
    &__display {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50%;
      border: 1px solid rgba(128, 128, 128, 0.419);
      text-align: center;
      font-size: 2rem;
      cursor: pointer;
      right: 0;
      button {
        border: transparent;
        background-color: transparent;
        padding: 1em;
        cursor: pointer;
      }
      svg {
        font-size: 2.5rem;
        margin-left: 0.25em;
      }
    }
  }
}
@media (min-width: 414px) {
  .products-actions {
    &-buttons {
      &__sort,
      &__display {
        font-size: 2.5rem;
      }
    }
  }
}
@media (min-width: 768px) {
  .products-actions {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    &-buttons {
      border: none;
      &__sort,
      &__display {
        border: none;
        svg {
          font-size: 2.5rem;
        }
      }
      &__sort {
        margin-left: 0;
      }
      &__display {
        margin-right: 0;
      }
    }
  }
}
