.search-form {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 95px;
  left: 50%;
  transform: translate(-50%, -50%);
  &__label {
    display: none;
  }
}
.input-container {
  position: relative;
  &__btn {
    position: absolute;
    right: -20px;
    top: 50%;
    width: 40px;
    height: 40px;
    padding: 0.5em;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border: none;
    background-color: #609c85;
    opacity: 0.5;
    font-weight: bold;
    cursor: pointer;
    svg {
      font-weight: bold;
      color: white;
      font-size: 2.5rem;
    }
  }
  &__input {
    height: 40px;
    padding: 0 2em 0 1em;
    border-radius: 20px;
    border: none;
    font-size: 2rem;
    opacity: 0.5;
    outline: 2px solid #456f5f;
    box-shadow: 0 0 20px 1px #00000073;
    &:focus {
      opacity: 1;
    }
    &:focus + .input-container__btn {
      opacity: 1;
    }
  }
}
@media (min-width: 375px) {
  .search-form {
    top: 100px;
  }
  .input-container {
    &__input {
      box-shadow: none;
    }
  }
}

// @media (min-width: 992px) {
//   .search-form {
//     top: 95px;
//     z-index: 100;
//   }
// }
